services:
  bowling_db:
    image: postgres:16-alpine
    container_name: bowling_buddy_db
    environment:
      POSTGRES_DB: bowlingbuddy
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: